@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Iceland", sans-serif;
    background-color: #2c2c2c;
    color: #ffffff;
}

#top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#top-row h1 {
    margin: 2vw;
    font-size: 3rem;
}

#testing-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-area {
    border: 2px solid #ffffff;
    border-radius: 10px;
    width: 70vw;
    height: 40vh;
    font-size: 2rem;
    padding: 3rem;
    color: darkgray;
}

.correct {
    color: #45ce5a;
}

.current {
    color: #ffffff;
}

.wrong-current {
    background-color: #e45858;
    border-radius: 5px;
}

.wrong-previous {
    color: #e45858;
}


#bottom-row {
    display: grid;
    grid-template-columns: repeat(min-content, 3);
    column-gap: 1rem;
    margin-top: 1rem;
}

input[type="text"] {
    grid-column: 1/2;
    padding: 1rem;
    width: 40vw;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: "Iceland", sans-serif;
}

#restart {
    grid-column: 2/3;
    border-radius: 10px;
    padding: 1rem;
    background-color: #ffffff;
    font-family: "Iceland", sans-serif;
    font-size: 1.5rem;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
    border: 2px solid transparent;
}
#restart:hover {
    background-color: #2c2c2c;
    border-color: #ffffff;
    color: #ffffff;
}
#restart:focus {
    background-color: #2c2c2c;
    border-color: #ffffff;
    color: #ffffff;
}


#timer {
    color: black;
    display: inline-block;
    grid-column: 3/4;
    background-color: #898989;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
}

#resultsSheet {
    margin-top: 2rem;
    width: 75vw;
    /* border: 2px solid #ffffff; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#wpm {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#wpm span {
    font-size: 1.2rem;
}

#testStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#testStats span {
    font-size: 1.5rem;
}
#testStats span:first-of-type {
    font-size: 2rem;
    font-weight: bold;
}

